@tailwind base;
@tailwind components;
@tailwind utilities;



*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.c1
{
  display: flex;
  background-color: rgb(3, 3, 134);
}

header .container
{
  display: flex;
  justify-content: space-between;
  height: 5vw;
  width: 100%;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(3, 3, 134);
  position: fixed;
  z-index: 1000;
}

header .container nav ul li
{
  display: inline-block;
  margin-right: 2vw;
  font-weight: 500;
}

header .container nav ul li a
{
  color: white;
}

header .container .logo
{
  margin-left: 7%;
}

header .container nav
{
  margin-right: 5%;
}

main
{
  text-align: center;
}

main .contenu-slide1
{
  margin-top: 3vw;
}


.body
{
  background-color: rgb(8, 48, 88);
}


.c1 .text1 , .images
{
  margin-top: 5vw;
}

/* contenu */

.text1 {
  margin: 0;
  padding: 0;
  width: 45%;
  margin-left: 5%;
}

.description {
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: 5vw;
}

.description h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 2vw;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.description p {
  margin: 0;
  padding: 0;
  color: white;
}

.btn-2 {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.btn-2 button {
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  margin-top: 2vw;
  margin-bottom: 5vw;
  border-radius: 20px;
  color: black;
}

.btn-2 button:hover
{
  background-color: rgb(24, 24, 63);
  color: white;
  transition: .5s;
}