@tailwind base;
@tailwind components;
@tailwind utilities;


*
{
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.c1
{
  display: flex;
}

header .container
{
  display: flex;
  justify-content: space-between;
  height: 5vw;
  width: 100%;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header .container nav ul li
{
  display: inline-block;
  margin-right: 2vw;
  font-weight: 500;
}

header .container nav ul li a
{
  color: white;
}

header .container .logo
{
  margin-left: 7%;
}

header .container nav
{
  margin-right: 5%;
}

main
{
  text-align: center;
}

main .contenu-slide1
{
  margin-top: 3vw;
}


.body
{
  background-color: rgb(13, 70, 128);
}


/* contenu */

.text1 {
  margin: 0;
  padding: 0;
  width: 45%;
  margin-left: 5%;
}

.description {
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: 5vw;
}

.description h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 2vw;
  font-size: 30px;
  color: white;
  font-weight: 600;
}

.description p {
  margin: 0;
  padding: 0;
  color: white;
}

.btn-2 {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.btn-2 button {
  margin: 10px;
  padding: 10px 20px;
  background-color: azure;
  margin-top: 2vw;
  margin-bottom: 5vw;
  border-radius: 20px;
}

.btn-2 button:hover
{
  background-color: rgb(24, 24, 63);
  color: white;
  transition: .5s;
}