

.emplois,.stage
{
    margin-top: 2vw;
}

.stage
{
    text-align: center;
    margin-top: 6vw;
}

.stage h1
{
    font-size: 30px;
    color: white;
    font-weight: 800;
}

.stage form
{
    width: 90%;
    margin-left: 5%;
    margin-top: 2vw;
}

.stage form .champ
{
    display: inline-block;
    width: 40%;
    margin: 1%;
}

.stage form .champ label
{
    float: left;
    color: white;
}

.stage form .champ input,textarea
{
    width: 100%;
    height: 3vw;
    border-radius: 5px;
    /* text-align: center; */
}

.stage form .champ span
{
    color: red;
}

.stage form .submit button
{
    float: right;
    margin-right: 10%;
    margin-top: 1vw;
    background-color: blue;
    width: 20%;
    height: 3vw;
    border: 0;
    border-radius: 7px;
    color: white;
}
