
#equipe
{
    margin-bottom: 8vw;
}

.equipe
{
    width: 90%;
    margin-left: 5%;
    text-align: center;
    background-color: rgb(10, 10, 42);
    border-radius: 10px;
    margin-bottom: 3vw;
}

.equipe h1
{
    font-size: 30px;
    color: white;
    font-weight: 700;
    text-align: start;
    margin-left: 5%;
}

.equipe .card
{
    display: inline-block;
    margin: 2vw;
    background-color: rgb(2, 2, 51);
}

.equipe .card img
{
    width: 100%;
    height: 20vh;
}

.equipe .card .card-body .card-title
{
    margin-left: 3%;
}

.carousel-end
{
    width: 96%;
    margin-left: 1%;
}

.carousel-end .carousel-item
{
    margin: 1vw;
}

.carousel-end .carousel-item .card-body
{
    margin-top: 0.5vw;
}



.finis footer
{
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    background-color: rgb(10, 10, 42);
}