

.offre
{
    width: 90%;
    margin-left: 5%;
    background-color: rgb(3, 3, 134);
    margin-top: 3vw;
    border-radius: 10px;
    margin-bottom: 2vw;
}

.offre .container
{
    width: 90%;
    margin-left: 5%;
}

.offre .container .txt
{
    width: 50%;
    margin-top: 3vw;
}

.offre .container .txt h1
{
    font-size: 35px;
    font-weight: 700;
    margin-top: 2vw;
    color: rgb(255, 255, 255);
}

.offre .container .txt .p2
{
    color: rgb(208, 207, 207);
    line-height: 20px;
}

.offre .container .profil
{
    margin-top: 3vw;
}

.offre .container .profil .section {
    width: 30%;
    margin: 1%;
    background-color: rgb(4, 17, 57);
    padding: 1vw;
    border-radius: 10px;
    position: relative;
    height: 25vh;
    margin-bottom: 4vw;
    position: relative;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.offre .container .profil .section h1
{
    font-weight: 600;
    font-size: 20px;
    color: rgb(227, 225, 225);
}

.offre .container .profil .section .postule {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 10px;
    background-color: transparent;
    margin-top: 2vw;
}

.offre .container .profil .section p
{
    color: rgb(145, 145, 145);
}

.offre .container .profil .section .postule .candidature
{
    padding: 5px;
    background-color: rgb(8, 7, 30);
    color: rgb(134, 131, 131);
    border-radius: 10px;
    width: 30%;
}

.offre .container .profil .section .postule .candidature:hover
{
    background-color: rgb(207, 204, 204);
    color: black;
    transition: 0.5s;
}

.offre .container .profil .section .postule .detail
{
    border: 1px solid rgb(6, 6, 136);
    padding: 5px;
    border-radius: 10px;
    width: 40%;
    color: rgb(134, 131, 131);
}

.offre .container .profil .section .postule .detail:hover
{
    background-color: beige;
    color: rgb(24, 23, 23);
}

.equipe ul li img
{
    width: 20%;
    margin-left: 110%;
}